.colorfield {
  position: relative;
  .segment {
    padding: 5px;
    margin: 0;
    display: inline-block;
  }
  .color {
    width: 24px;
    height: 24px;
    border: 1px solid #CCC;
  }
  .picker {
    position: absolute;
    top: 0;
    z-index: 100;
    left: 36px;
  }
}
