.reframe-searchbox {
  flex: 1;
  line-height: 1em;
  display: flex;
  overflow: hidden;
  &.active .reframe-searchbox-icon {
    margin-left: -1.35em;
  }
}
.reframe-searchbox-input {
  display: flex;
  flex: 1;
  margin: 0.5em;
  background-color: fadeout(@black, 95);
  border-radius: .5em;
  overflow: hidden;
}
.reframe-searchbox-remove-icon {
  padding: 0.4em 0.4em 0.4em 0;
  font-size: 1.25em;
  line-height: 1em;
  color: fadeout(@black, 80);
  overflow: hidden;
  cursor: pointer;
  &:hover {
    color: fadeout(@black, 70);
  }
}
.reframe-searchbox-icon {
  .transition(margin .1s cubic-bezier(0.7, 0, 0.175, 1) 0s);
  padding: 0.4em 0 0.4em .4em;
  font-size: 1.25em;
  line-height: 1em;
  color: fadeout(@black, 80);
  overflow: hidden;
}
.ui.form .reframe-searchbox-field,
.reframe-searchbox-field {
  flex: 1;
  input {
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;
    padding: 0.5em;
    width: 100%;
    outline: none!important;
    font-size: 1em!important;
    line-height: 1.3em !important;
    color: fadeout(@black, 60) !important;
  }
}
