---
layout: base
permalink: /blog.html
---

<section class='content'>
  <div class='width'>
    <nav class='toc'>
      <ul>
        {% for post in site.posts %}
          <li>
            {% assign url = site.baseurl | append: post.url %}
            {{ post.date | date: "%b %-d, %Y" }}<br />
            <a href="{{ url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <article class="withtoc">
      {% for post in site.posts %}
        <div class="post">
          {% assign url = site.baseurl | append: post.url %}
          <h2><a href="{{ url }}">{{ post.title }}</a></h2>
          <p class="byline">
            <img class="avatar" src="{{post.avatar}}"/>
            <span class="author">{{ post.author }}</span>
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
          </p>
          {{ post.excerpt }}
          <a class="button" href="{{ url }}">Continue Reading &rarr;</a>
        </div>
      {% endfor %}
    </article>
  </div>
</section>
