.breadcrumbs {
  background: #000;
  margin: 0;
  width: 100%;
  padding: 10px 15px; }
  .breadcrumbs .ui.breadcrumb .divider {
    color: #DDD;
    font-size: 10px; }
  .breadcrumbs .ui.breadcrumb a {
    color: #EEE;
    font-size: 10px; }
  .breadcrumbs .ui.breadcrumb .active {
    display: block;
    clear: both;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    color: #FFF; }

table .actions {
  background-color: #FFF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.collection-header .collection-header-views {
  margin-left: 13px !important; }

.collection-card .card .extra {
  background-color: #F9F9F9 !important; }

@media (min-width: 1241px) {
  .collection-card .card {
    width: calc(100% / 5 - 13px) !important; } }
@media (max-width: 1240px) {
  .collection-card .card {
    width: calc(100% / 5 - 13px) !important; } }
@media (max-width: 1024px) {
  .collection-card .card {
    width: calc(100% / 4 - 13px) !important; } }
@media (max-width: 800px) {
  .collection-card .card {
    width: calc(100% / 3 - 13px) !important; } }
@media (max-width: 600px) {
  .collection-card .card {
    width: calc(100% / 2 - 13px) !important; } }
@media (max-width: 321px) {
  .collection-card .card {
    width: calc(100% / 1 - 13px) !important; } }
#toggle-columns-modal ul {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 250px; }
#toggle-columns-modal li {
  list-style: none; }
#toggle-columns-modal label {
  padding: 5px;
  display: block;
  cursor: pointer; }
  #toggle-columns-modal label:hover {
    background: #F9F9F9; }
#toggle-columns-modal input {
  margin-right: 5px; }

.collection-table {
  position: relative; }
  .collection-table .ui.table {
    margin-top: 0 !important; }
  .collection-table tr td:last-child i {
    cursor: pointer; }
  .collection-table .row-leave {
    opacity: 1; }
  .collection-table .row-leave.row-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in; }

@media (max-width: 800px) {
  .secondary {
    display: none; } }
.available h3, .selected h3 {
  background-color: #CCC;
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  border-bottom: none; }
.available ul, .selected ul {
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid #CCC;
  height: 320px;
  overflow-y: scroll; }
  .available ul li, .selected ul li {
    list-style: none;
    border: 1px solid #CCC;
    background-color: #EEE;
    margin: 0 0 5px;
    padding: 5px 10px;
    cursor: move;
    border-radius: 5px; }
  .available ul li:last-child, .selected ul li:last-child {
    margin: 0; }

.collection .collection-header > .menu {
  margin: 0;
  -moz-border-radius: 0.28571rem 0.28571rem 0 0;
  -webkit-border-radius: 0.28571rem;
  border-radius: 0.28571rem 0.28571rem 0 0;
  background-color: #E8E9EA;
  border-bottom: none !important; }
  .collection .collection-header > .menu h4 {
    font-weight: normal;
    color: #000 !important; }
  .collection .collection-header > .menu a.item {
    padding: 0.7em; }
  .collection .collection-header > .menu a:before {
    width: 0 !important;
    background: #666; }
  .collection .collection-header > .menu i {
    color: #666; }
.collection .collection-header div[data-field-code="_close"] {
  display: none !important; }
.collection .collection-header .segments {
  border-top: 1px solid #e4e5e5 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: none; }
.collection .collection-header .segment {
  background-color: #f3f4f5; }
.collection .collection-header form {
  max-width: none !important;
  margin-bottom: 0 !important; }
.collection .collection-header .field label {
  float: left;
  width: 70px;
  line-height: 35px;
  margin: 0; }
.collection .collection-header .field label + * {
  width: calc(100% - 70px) !important; }
.collection .collection-header .field label + div {
  display: inline-block; }
.collection .collection-header .secondary {
  display: none; }
.collection .collection-header .circular {
  border-color: transparent !important; }
.collection table {
  -moz-border-radius: 0 0 0.28571rem 0.28571rem;
  -webkit-border-radius: 0;
  border-radius: 0 0 0.28571rem 0.28571rem; }
  .collection table thead th {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important; }
  .collection table td {
    color: #6d787c; }
  .collection table img {
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 10px 0 0; }

.comment .image {
  display: block;
  width: 2.5em;
  height: auto;
  float: left;
  margin: 0.2em 0em 0em; }
  .comment .image img {
    display: block;
    margin: 0em auto;
    width: 100%;
    height: 100%; }
.comment .content {
  margin-left: 3.5em; }

.ui.form .ui.horizontal.segments .ui.segment:first-child {
  background: #FFF; }
.ui.form .ui.horizontal.segments .ui.segment:last-child {
  flex: none !important;
  background: #F9F9F9;
  width: 300px !important; }

.dateselect .dropdown {
  min-width: 0 !important; }

span.instructions {
  display: block;
  margin-bottom: 6px; }

.details {
  margin-bottom: 1em;
  -moz-border-radius: 0.30769rem 0.30769rem 0 0;
  -webkit-border-radius: 0.30769rem;
  border-radius: 0.30769rem 0.30769rem 0 0; }
  .details .ui.table {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
    margin: 0;
    width: 100% !important;
    float: none !important; }
    .details .ui.table tr td {
      border: none !important;
      vertical-align: top;
      padding: 6px 8px; }
    .details .ui.table tr td:first-child {
      background-color: #F2F4F5;
      width: 125px; }
    .details .ui.table tr td:last-child {
      color: #888; }

.feed .event {
  overflow: hidden;
  margin-bottom: .5em; }
  .feed .event .image {
    width: 2.5em;
    float: left; }
    .feed .event .image img {
      width: 100%; }
  .feed .event .content {
    margin-left: 3.5em;
    overflow: hidden; }
    .feed .event .content .date {
      font-weight: normal;
      font-size: .85em;
      font-style: normal;
      line-height: 1.3em;
      color: rgba(0, 0, 0, 0.4); }
    .feed .event .content .summary {
      margin: 0em;
      font-size: 1em;
      color: rgba(0, 0, 0, 0.87); }

.ui.form .ui.segments .ui.segment:first-child {
  background-color: #E8E9EA;
  color: #000; }

.typeahead {
  position: relative;
  display: block; }
  .typeahead.active.top input {
    -moz-border-radius: 0.28571rem 0.28571rem 0 0;
    -webkit-border-radius: 0.28571rem;
    border-radius: 0.28571rem 0.28571rem 0 0;
    border-bottom: none; }
  .typeahead.active.top .results {
    top: 100%;
    -moz-border-radius: 0 0 0.28571rem 0.28571rem;
    -webkit-border-radius: 0;
    border-radius: 0 0 0.28571rem 0.28571rem; }
  .typeahead.active.bottom input {
    -moz-border-radius: 0 0 0.28571rem 0.28571rem;
    -webkit-border-radius: 0;
    border-radius: 0 0 0.28571rem 0.28571rem; }
  .typeahead.active.bottom .results {
    bottom: 100%;
    -moz-border-radius: 0.28571rem 0.28571rem 0 0;
    -webkit-border-radius: 0.28571rem;
    border-radius: 0.28571rem 0.28571rem 0 0; }
  .typeahead .ui.input {
    width: 100%; }
  .typeahead .results {
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: center top;
    background: #fff;
    margin-top: -1px;
    -moz-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.08);
    -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.08);
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.08);
    border: 1px solid #85b7d9;
    border-top: none;
    z-index: 16; }
    .typeahead .results .empty {
      width: 100%;
      padding: .7em 1.14285714em;
      color: #AAA; }
    .typeahead .results .item {
      width: 100%;
      padding: .7em 1.14285714em;
      cursor: pointer; }
      .typeahead .results .item:hover {
        background-color: #F0F0F0; }
  .typeahead.selected.result {
    width: 100%;
    -moz-border-radius: 0.28571rem;
    -webkit-border-radius: 0.28571rem;
    border-radius: 0.28571rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding: 10px; }
    .typeahead.selected.result .close.button {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 3em;
      padding: 1em; }
      .typeahead.selected.result .close.button i {
        position: absolute;
        top: 50%;
        margin-top: -10px; }
