.reframe-modal-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}
.reframe-modal-panel-header {
  flex: 0 0 3.5em;
  display: flex;
  background-color: @primary_background_color;
  .reframe-modal-panel-header-navigation:last-child {
    text-align: right;
  }
}
.reframe-modal-panel-header-navigation {
  flex: 0 0 7em;
  display: block;
  color: @white;
  padding: 1em;
  cursor: pointer;
  i {
    font-size: 1.3em;
  }
  &.disabled {
    color: fadeout(@white, 40);
  }
}
.reframe-modal-panel-header-title {
  flex: 1;
  color: #FFF;
  padding: 1em 0;
  text-align: center;
}
.reframe-modal-panel-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}
