.reframe-list {
  background-color: @white;
}
.reframe-list-title {
  border-bottom: 1px solid lighten(@black, 90%);
  background-color: darken(@white, 5%);
  color: @black;
  font-weight: bold;
  padding: 1em;
  text-transform: uppercase;
}

@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@grey: #767676;

.reframe-list-alert {
  padding: 0.8em;
  color: @white;
  text-align: center;
  &.red { background-color: @red; }
  &.orange { background-color: @orange; }
  &.yellow { background-color: @yellow; }
  &.olive { background-color: @olive; }
  &.green { background-color: @green; }
  &.teal { background-color: @teal; }
  &.blue { background-color: @blue; }
  &.violet { background-color: @violet; }
  &.purple { background-color: @purple; }
  &.pink { background-color: @pink; }
  &.brown { background-color: @brown; }
  &.black { background-color: @black; }
  &.grey { background-color: @grey; }
}
.reframe-list-item {
  border-bottom: 1px solid lighten(@black, 90%);
  display: flex;
  color: lighten(@black, 40%);
  position: relative;
  strong {
    color: @black;
  }
  &.error {
    color: @red;
  }
}
.reframe-list-item-padded {
  padding: 0.8em;
  flex: 1;
}
.reframe-list-item-icon {
  display: flex;
  padding: 0.8em 0 0.8em 0.8em;
  i {
    margin: auto;
  }
}
.reframe-list-item-component {
  flex: 1;
}
.reframe-list-item-content {
  padding: 0.8em;
  flex: 1;
}
.reframe-list-item-extra {
  display: flex;
  padding: 0.8em 0.8em 0.8em 0;
  & > * {
    margin: auto !important;
  }
  .button {
    padding: 0.75em !important;
    i {
      margin: 0 !important;
    }
  }
}
.reframe-list-item-proceed {
  display: flex;
  padding: 0.8em 0.8em 0.8em 0;
  font-size: 0.8em;
  margin: 0;
  i {
    color: fadeout(@black, 80);
  }
  .chevron {
    margin: auto !important;
  }
  .ellipsis {
    font-size: 1.4em;
    cursor: pointer;
  }
}
.reframe-list-footer {
  padding: 0.8em;
}
