.feed {
  .event {
    overflow: hidden;
    margin-bottom: .5em;
    .image {
      width: 2.5em;
      float: left;
      img {
        width: 100%;
      }
    }
    .content {
      margin-left: 3.5em;
      overflow: hidden;
      .date {
        font-weight: normal;
        font-size: .85em;
        font-style: normal;
        line-height: 1.3em;
        color: rgba(0, 0, 0, 0.4);
      }
      .summary {
        margin: 0em;
        font-size: 1em;
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
}
