@import "compass/css3/border-radius";

.details {
  margin-bottom: 1em;
  @include border-radius(.30769231rem .30769231rem 0 0);
  .ui.table {
    @include border-radius(0 !important);
    margin: 0;
    width: 100% !important;
    float: none !important;
    tr {
      td {
        border: none !important;
        vertical-align: top;
        padding: 6px 8px;
      }
      td:first-child {
        background-color: #F2F4F5;
        width: 125px;
      }
      td:last-child {
        color: #888;
      }
    }
  }
}