

.ui.menu {
  .left, .right {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .right {
    img {
      margin-right: 10px;
    }
  }
  .ui.search {
    background-color: #444 !important;
    position: relative;
    .typeahead.top {
      position: static;
    }
    .typeahead.results {
      top: 45px;
      border: none;
    }
  }
  .ui.search.item {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;

    .typeahead {
      width: 100%;
    }

    input {
      border-radius: 0;
      background-color: transparent;
      color: white;
      border: none !important;
      &::-webkit-input-placeholder {
        color: white;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: white;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: white;
      }

      &:-ms-input-placeholder {
        color: white;
      }
      &:focus {
        border: none;
      }
    }
  }
}

.ui.mobile.menu {
  height: 50px;

  input {
    font-size: 1.3rem;
  }

  .item {
    font-size: 1.3rem;
  }

  .search.item {
    .typeahead.results {
      position: fixed;
      margin-top: 6px;
      width: 100%;
    }
  }
}

.ui.sidebar {
  visibility: visible;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  -webkit-transition: transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition: transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition: transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition: transform 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

  &.visible {
    transform: translateX(0%);
  }

  .item {
    font-size: 1.4rem;
  }
  .large.item {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1.7em;
  }
}
