.ui.menu {
  .search {
    background-color: #444 !important;
    position: relative;
    .typeahead.top {
      position: static;
    }
    .typeahead.results {
      top: 45px;
      border: none;
    }
  }
  .ui.search.item {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;

    .typeahead {
      width: 100%;
    }

    input {
      border-radius: 0;
      background-color: transparent;
      color: white;
      border: none;
      &::-webkit-input-placeholder {
        color: white;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: white;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color: white;
      }

      &:-ms-input-placeholder {
        color: white;
      }

      &:focus {
        border: none;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}
