.reframe-checkbox {
  display: inline-block;
  &.toggle-disabled {
    cursor: default;
  }
  .fa {
    font-size: 1.8em;
    height: auto;
    margin: auto;
  }
  .fa-toggle-off {
    color: lighten(@black, 80);
  }
  .fa-toggle-on {
    color: @blue;
  }
  .disabled {
    color:#cccccc;
  }
}
