.checkboxes {
  .grouped.fields {
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0.67861429em 1em;
    @include border-radius(0.28571429rem);
    overflow: hidden;
  }
  @media only screen and (min-width: 768px) {
    .grouped.fields {
      display: inline-block !important;
      min-width: 250px !important;
    }
  }
  @media only screen and (max-width: 767px) {
  }
}
