.ui.form{
  .ui.segments {
    .ui.segment.inverted:first-child {
      background-color: #E8E9EA;
      color: #000;
    }
  }
  .grouped.fields {
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding: 0.67861429em 1em;
    @include border-radius(0.28571429rem);
    overflow: hidden;
    .field {
      float: left;
      clear: none !important;
      width: 33%;
    }
  }
  .ui.segment.collapsing {
    &.collapsed .section {
      display: none;
    }
  }
}
