.reframe-tasks {
  flex: 1;
  display: flex;
}
.reframe-tasks-overlay {
  .opacity-transition(0, 0.5, .25s);
  .opacity(0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
}
.reframe-tasks-list {
  position: fixed;
  .border-radius(5px);
  background-color: #FFFFFF;
  @media only screen and (max-width: 767px) {
    .translate-y-transition(100%, 0, .25s);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px;
  }
  @media only screen and (min-width: 768px) {
    padding-top: 0.5em;
    &:after {
      bottom: 100%;
      right: 3%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(255, 255, 255, 0);
    	border-bottom-color: #FFFFFF;
    	border-width: 10px;
    	margin-left: -10px;
    }
    .opacity-transition(0, 1, .25s);
    width: 320px;
    top: 3.5em;
    right: 5px;
    .reframe-tasks-cancel {
      display: none !important;
    }
    .reframe-tasks-item {
      &:nth-last-of-type(2) {
        border-radius: 0 0 5px 5px;
      }
    }
  }
  .reframe-task,
  .reframe-tasks-cancel {
    border-top: 1px solid #CCC;
    display: block;
    padding: 15px;
    text-align: center;
    color: #1e70bf;
    cursor: pointer;
    &:first-child {
      border-top: none;
    }
    &:hover {
      background-color: darken(@white, 5%);
    }
  }
}
