.reframe-password {
  display: flex;
  border: 1px solid fadeout(@black, 80);
  background-color: @white;
  border-radius: 0.5em;
}
.reframe-password-input {
  flex: 1;
  input {
    background: none !important;
    border: none !important;
  }
}
.reframe-password-icon {
  display: flex;
  padding: 0.4em;
  &.weak .fa {
    color: fadeout(@black, 95);
  }
  &.strong .fa {
    color: @green;
  }
  .fa {
    margin: auto;
    font-size: 1.4em;
  }
}
