.ui.form {
  .ui.horizontal.segments {
    .ui.segment:first-child {
      background: #FFF;
    }
    .ui.segment:last-child {
      flex: none !important;
      background: #F9F9F9;
      width: 300px !important;
    }
  }
  .ui.segment {
    &.collapsing {
      &.collapsed .header:before {
        border-left: 5px solid #AAA;
      }
      &.expanded .header:before {
        border-top: 5px solid #AAA;
      }
      h4.ui.header {
        cursor: pointer;
        &:before {
          content: '';
          width: 1px;
          height: 1px;
          display: inline-block;
          border: 5px solid transparent;
          margin-right: 5px;
        }
      }
    }
    .header {
      background: #E8E9EA;
      margin: -15px;
      padding: 15px;
      border-top: 1px solid #FFF;
      font-weight: normal;
      font-size: 1em;
      & ~ .section {
        margin-top: 30px;
      }
    }
  }
}
.dateselect {
  .dropdown {
    min-width: 0 !important;
  }
}

span.instructions {
  display: block;
  margin-bottom: 6px;
}

.filefield-uploading {
  width: 250px;
  .ui.progress {
    margin: 0 !important;
  }
}
.filefield-preview {
  width: 250px;
  .loader {
    height: 250px;
  }
  .image {
    width: 100%;
    overflow: hidden;
  }
}