.ui.form .ui.horizontal.segments {
  .ui.segment:first-child { background: #FFF; }
  .ui.segment:last-child {
    flex: none !important;
    background: #F9F9F9;
    width: 300px !important;
  }
}
.dateselect {
  .dropdown {
    min-width: 0 !important;
  }
}

span.instructions {
  display: block;
  margin-bottom: 6px;
}
.filefield-preview {
  width: 250px;
  .image {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
}