.tablefield {
  tbody {
    tr {
      td:first-child {
        cursor: move;
      }
      td:last-child {
        cursor: pointer;
      }
      td:first-child,
      td:last-child {
        i {
          color: #CCC;
        }
        &:hover {
          i {
            color: #000;
          }
        }
      }
    }
  }
}