.reframe-search {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reframe-search-header {
  border-bottom: 1px solid fadeout(@black, 90);
}
.reframe-search-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reframe-search-results {
  .scrollable();
  flex: 1;
}
.reframe-search-item {
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
  }
  .reframe-search-item-icon {
    &:first-child {
      padding: 0.8em 0 0.8em 0.8em;
    }
    &:last-child {
      padding: 0.8em 0.8em 0.8em 0;
    }
  }
}
.reframe-search-item-label {
  align-items: center;
  flex: 1;
  color: fadeout(@black, 40);
  &.padded {
    padding: 0.8em;
  }
}
.reframe-search-item-icon {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  line-height: 1em;
  .icon {
    color: #BBB;
  }
}
