@table_header_background_color: #FFFFFF;
@table_body_background_color: #FFFFFF;
@table_border_color: #DDDDDD;
@table_body_font_color: #888888;

.reframe-table {
  table {
    width: 100%;
  }
  .reframe-table-pinned {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  thead {
    background-color: @white;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    tr td {
      font-weight: bold;
      position: relative;
      cursor: pointer;
      background-color: fadeout(@black, 98);
      color: fadeout(@black, 70);
      border-right: 1px solid fadeout(@black, 90);
      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: fadeout(@black, 97);
      }
      i {
        margin: 0;
      }
      .chevron {
        position: absolute;
        right: 1em;
        color: fadeout(@black, 80);
      }
    }
  }
  tbody {
    tr.reframe-table-link:hover {
      cursor: pointer;
      background-color: fadeout(@black, 97);
    }
    td {
      line-height: 20px;
      vertical-align: middle;
      color: @table_body_font_color !important;
      strong {
        color: @black;
      }
      &.centered {
        text-align: center;
      }
      .icon {
        color: fadeout(@black, 80) !important;
        margin: 0;
      }
      .ellipsis {
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }
  tr {
    border-bottom: 1px solid fadeout(@black, 90);
  }
  td {
    &.collapsing {
      width: 1px;
    }
    &.padded {
      padding: ~".8em calc(.8em + 22px) .8em .8em";
    }
    @media only screen and (max-width: 767px) {
      &:not(.mobile),
      &:not(.mobile) {
        display: none;
      }
    }
  }
}
