.reframe-filter {
  flex: 1;
  position: relative;
  overflow:hidden;
}
.reframe-filter-header {
  border-bottom: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  text-align: center;
  font-weight: bold;
  display: flex;
}
.reframe-filter-header-icon {
  flex: 0 0 3em;
  display: flex;
  i {
    margin: auto;
  }
}
.reframe-filter-header-title {
  flex: 1;
  padding: .8em 0;
  line-height: 1.75em;
}
.reframe-filter-tokens {
  .scrollable-x();
  padding: 0.5em 0 0.5em 0.5em;
  background-color: @white;
  border-bottom: 1px solid #DDD;
  .ui.basic.button {
    display: inline-block;
    background-color: fadeout(@black, 90) !important;
    color: #333333 !important;
    padding: 8px;
    margin: 0 8px 0 0 !important;
    box-shadow: none;
    text-shadow: none;
    &.add {
      background: transparent !important;
      border: 1px solid #BBBBBB;
      color: #BBBBBB !important;
    }
    .add {
      margin: 0 !important;
    }
    .remove {
      margin: 0 !important;
    }
  }
}
.reframe-filter {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.reframe-filter-panel {
  position: absolute;
  background-color: @white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.reframe-filter-body {
  flex: 1;
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
}
.reframe-filter-results {
  .scrollable();
  flex: 1;
}
.reframe-filter-search {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reframe-filter-search-input {
  background-color: fadeout(@black, 90);
  padding: 0.5em;
}
.reframe-filter-item {
  background-color: @white;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 98);
  }
}
.reframe-filter-item-field {
  display: flex;
  align-items: center;
  color: #444444;
  flex: 0 1 100px;
  padding: 1em 0 1em 1em;
}
.reframe-filter-item-label {
  align-items: center;
  flex: 1;
  &.padded {
    padding: 1em;
  }
}
.reframe-filter-item-description {
  flex: 2;
  color: green;
  line-height: 16px;
  font-size: 13px;
  padding: 1em;
}
.reframe-filter-item-values {
  flex: 1;
  display: flex;
  align-items: center;
  .values {
    margin: auto 15px auto auto;
    color: green;
    line-height: 16px;
    font-size: 13px;
    text-align: right;
  }
}
.reframe-filter-item-count {
  flex: 0 0 25px;
  display: flex;
  .label {
    .border-radius(50%);
    background-color: #CCC;
    color: #FFFFFF;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
   }
}
.reframe-filter-item-icon {
  flex: 0 0 20px;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  line-height: 1em;
  padding: 1em;
  .icon {
    margin: auto;
    color: #BBB;
  }
}
.reframe-filter-footer {
  flex: 0 0 50px;
  padding: 15px;
  text-align: center;
  background-color: #F9F9F9;
  border-top: 1px solid #EEEEEE;
  color: #444444;
  cursor: pointer;
}
