@import "actions";
@import "header/header";
@import "card/card";
@import "table/table";
@import "compass/css3";

.available, .selected {
  h3 {
    background-color: #CCC;
    border: 1px solid #CCC;
    padding: 5px;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    border-bottom: none;
  }
  ul {
    width: 100%;
    margin: 0;
    padding: 5px;
    border: 1px solid #CCC;
    height: 320px;
    overflow-y: scroll;
    li {
      list-style: none;
      border: 1px solid #CCC;
      background-color: #EEE;
      margin: 0 0 5px;
      padding: 5px 10px;
      cursor: move;
      border-radius: 5px;
    }
    li:last-child {
      margin: 0;
    }
  }
}


.collection {
  .collection-header {
    & > .menu {
      margin: 0;
      @include border-radius(.28571429rem .28571429rem 0 0);
      background-color: #E8E9EA;
      border-bottom: none !important;
      h4 {
        font-weight: normal;
        color: #000 !important;
      }
      a.item {
        padding: 0.7em;
      }
      a:before {
        width: 0 !important;
        background: #666;
      }
      i {
        color: #666;
      }
    }
    div[data-field-code="_close"] {
      display: none !important;
    }
    .segments {
      border-top: 1px solid #e4e5e5 !important;
      @include border-radius(0);
      border-bottom: none;
    }
    .segment {
      background-color: #f3f4f5;
    }
    form {
      max-width: none !important;
      margin-bottom: 0 !important;
    }
    .field {
      label {
        float: left;
        width: 70px;
        line-height: 35px;
        margin: 0;
      }
      label + * {
        width: calc(100% - 70px) !important;
      }
      label + div {
        display: inline-block;
      }
    }
    .secondary {
      display: none;
    }
    .circular {
      border-color: transparent !important;
    }
  }
  table {
    @include border-radius(0 0 .28571429rem .28571429rem);
    thead th {
      @include border-radius(0 !important);
    }
    td {
      color: #6d787c;
    }
    img {
      width: 20px;
      height: 20px;
      float: left;
      margin: 0 10px 0 0;
    }
  }
}