.reframe-infinite {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.reframe-infinite-loader {
  flex: 0 0 3.5em;
  position: relative;
}

.reframe-infinite-footer {
  background-color: fadeout(@black, 90);
  padding: 0.4em 0.8em;
  color: fadeout(@black, 50);
  span {
    font-size: 0.8em;
  }
}
