<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <meta charset='utf-8'>
  <title>Reframe</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/museo.css">
  <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/default.css">
  <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
  <link rel='shortcut icon' href='/static/favicon.png'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="">

  <header class='topbar'>
    <nav class='width'>
      <a href="/reframe/index.html">
        <img src="/reframe/images/logo.png" class="logo" />
      </a>
      <ul>
        <li><a href="{{site.baseurl}}/guides/user/index.html">Docs</a></li>
      </ul>
      <ul class="external">
        <li><a href="https://github.com/thinktopography/reframe">GitHub</a></li>
      </ul>
    </nav>
  </header>

  {% if page.permalink == '/index.html' %}
    <header class="main hero"><div class="width">
      <div class="flow-header"></div>
        <div>
          <p>Supercharged UI Toolkit<br />for React Applications</p>
        </div>
      </div>
    </header>
    <section class='content'>
      <div class='width'>
        <article>
          {{ content }}
        </article>
      </div>
    </section>
  {% else %}
    <section class='content'>
      <div class='width'>
        <nav class='toc'>
          {% for section in site.navigation %}
            <section>
              <h3>{{section.header}}</h3>
              <ul>
                {% for item in section.items %}
                  {% assign current = nil %}
                  {% assign url = site.baseurl | append: page.url %}
                  {% if url == item.url %}
                    {% assign current = 'active' %}
                  {% endif %}
                  <li><a href="{{item.url}}" class="item {{current}}">{{item.label}}</a></li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </nav>
        <article class='withtoc'>
          {{ content }}
        </article>
      </div>
    </section>
  {% endif %}

<footer>
  <div class='width'>
    &copy; Copyright 2016, Think Topography, Inc.
  </div>
</footer>

</body>
</html>
