---
layout: base
permalink: /index.html
---
<section class='content'>
  <div class='width'>
    <nav class='toc'>
      <ul>
        {% for post in site.posts %}
          <li>
            {% assign url = site.baseurl | append: page.url %}
            {{ page.date | date: "%b %-d, %Y" }}<br />
            <a href="{{ url }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <article class='withtoc'>
      <div class="post">
        <h2>{{ page.title }}</h2>
        <p class="byline">
          <img class="avatar" src="{{page.avatar}}"/>
          <span class="author">{{ page.author }}</span>
          <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
        </p>
        {{ content }}
      </div>
    </article>
  </div>
</section>
