
.reframe-page {
	flex: 1;
	display: flex;
	flex-direction: column;
	.scrollable();
}

.reframe-error {
  flex: 1;
  display: flex;
}
.reframe-error-message {
  margin: 20vh auto 0;
  width: 320px;
  text-align: center;
  color: #CCC;
  h2 {
     font-size: 32px;
     line-height: 48px;
     margin-top: 0;
  }
  i {
    font-size: 100px;
    line-height: 100px;
  }
  .ui.button {
    background-color: #FFF !important;
  }
}
.reframe-loader {
  flex: 1;
  position: relative;
}
