.reframe-message {
	flex: 1;
  display: flex;
  background-color: fadeout(@black, 98%)
}
.reframe-message-panel {
	margin: auto;
  text-align: center;
  padding: 20px;
  height: 15em;
  h2 {
    margin: 0 0 20px;
    font-size: 50px;
    i {
      background-color: #FFF;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: #666;
  }
  p {
    margin: 0 0 20px;
    color: #888;
  }
  .ui.button {
    display: block;
    background: #FFF !important;
  }
}
.reframe-loader {
  flex: 1;
  position: relative;
}
