.reframe-collection {
  display: flex;
  flex: 1;
  background-color: lighten(@black, 95);
}
.reframe-collection-body {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  background-color: @white;
}
.reframe-collection-filter {
  display: flex;
  order: 1;
  z-index: 3;
}
.reframe-collection-export {
  display: flex;
}
.reframe-collection-header {
  background: fadeout(@black, 95);
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
}
.reframe-collection-header-search {
  flex: 1;
}
.reframe-collection-header-filter,
.reframe-collection-header-export {
  font-size: 1.25em;
  line-height: 1em;
  color: fadeout(@black, 80);
  padding: 0.5em 0.5em 0.5em 0;
  cursor: pointer;
  i {
    padding: .35em;
    border-radius: .4em;
    &:hover {
      background-color: fadeout(@black, 95);
    }
  }
}
.reframe-collection-loader {
  flex: 0 0 35.em;
  position: relative;
  background: #DDD;
}
.reframe-collection-empty {
  flex: 1;
  display: flex;
  margin: 20px;
  border: 3px dashed #DDD;
  background-color: fadeout(@black, 98%)
}
.reframe-collection-empty-message {
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 19em;
  h2 {
    margin: 0 0 20px;
    font-size: 50px;
    i {
      background-color: #FFF;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: #666;
  }
  p {
    margin: 0 0 20px;
    color: #888;
  }
  .ui.basic.red.button {
    display: block;
    background: #FFF !important;
  }
}
@media (max-width: 1023px) {
  .reframe-collection-header-export {
    display: none;
  }
  .reframe-collection {
    &.filter, &.export {
      .reframe-collection-canvas {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.4;
        z-index: 2;
      }
    }
    &.filter .reframe-collection-filter,
    &.export .reframe-collection-export {
      .translateY(0);
    }
    .reframe-collection-filter,
    .reframe-collection-export {
      .translateY(100%);
    }
  }
  .reframe-collection-canvas {
    .transition(opacity .25s cubic-bezier(0.7, 0, 0.175, 1) 0s);
    background-color: @black;
    opacity: 0;
  }
  .reframe-collection-filter {
    .reframe-filters-panel {
      background-color: @white;
    }
  }
  .reframe-collection-filter,
  .reframe-collection-export {
    .transition(transform .25s cubic-bezier(0.7, 0, 0.175, 1) 0s);
    display: flex;
    order: 1;
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: @white;
  }
  .reframe-collection-filter {
    height: 60vh;
  }
  .reframe-collection-export {
    top: 6.9em;
  }
}
@media (min-width: 1024px) {
  .reframe-collection {
    position: relative;
    &.filter, &.export {
      .reframe-collection-body {
        left: 23em;
      }
    }
    &.filter .reframe-collection-filter,
    &.export .reframe-collection-export {
      .translateX(0);
      opacity: 1;
    }
  }
  .reframe-collection-body {
    .transition(left .25s cubic-bezier(0.7, 0, 0.175, 1) 0s);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: -5px 0 5px fadeout(@black, 95);
  }
  .reframe-collection-filter {
    .reframe-filters-panel {
      background-color: lighten(@black, 95);
    }
  }
  .reframe-collection-filter,
  .reframe-collection-export {
    background-color: lighten(@black, 95);
    transition: transform .25s cubic-bezier(0.7, 0, 0.175, 1) 0s, opacity .25s cubic-bezier(0.7, 0, 0.175, 1) 0s;
    .translateX(-100%);
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 23em;
    overflow: hidden;
    z-index: 1;
  }}
