.reframe-list {
  margin-bottom: 1em;
  background-color: @white;
}
.reframe-list-title {
  border-bottom: 1px solid lighten(@black, 90%);
  background-color: darken(@white, 5%);
  color: @black;
  font-weight: bold;
  padding: 1em;
  text-transform: uppercase;
}
.reframe-list-alert {
  padding: 0.8em;
  color: @white;
  text-align: center;
  &.green { background-color: @green; }
  &.red { background-color: @red; }
  &.blue { background-color: @blue; }
}
.reframe-list-item {
  border-bottom: 1px solid lighten(@black, 90%);
  display: flex;
  color: lighten(@black, 40%);
  position: relative;
  strong {
    color: @black;
  }
}
.reframe-list-item-padded {
  padding: 0.8em;
}
.reframe-list-item-icon {
  display: flex;
  padding: 0.8em 0 0.8em 0.8em;
  i {
    margin: auto;
  }
}
.reframe-list-item-content {
  padding: 0.8em;
  flex: 1;
}
.reframe-list-item-extra {
  display: flex;
  padding: 0.8em 0.8em 0.8em 0;
  & > * {
    margin: auto !important;
  }
  .button {
    padding: 0.75em !important;
    i {
      margin: 0 !important;
    }
  }
}
.reframe-list-item-proceed {
  display: flex;
  padding: 0.8em 0.8em 0.8em 0;
  font-size: 0.8em;
  i {
    margin: auto !important;
    color: fadeout(@black, 80);
  }
}
